---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Ok, but who's this Landman?"
	description=""
	pubDate={new Date('January 28 2023')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		They say interesting people are noticeable by the unpredictability of their interests.
		The physicist who listens to heavy metal. The mathematician who picks safes. Unfortunately 
		for us, it's hard for me to represent myself with any given duality, which is why I'm writing
		this piece!  Due to the aforestated reasons, it will be very tricky to keep this document
		updated, so I'll strive to write in a factual, timeless way.
	</p>
	<p>
		My life has been a windy road led by both my curiosity and strong external forces.  
		I grew up in Lima, Peru, where I bounced around a lot of schools, often from different social classes.  
		As an extrovert myself, this cultivated in me an appreciation and skill for understanding 
		other people at a deeper level - putting myself in their shoes and trying to truly connect.  
		When I was 13, my parents decided to live the American dream and move to the US, where we settled 
		in suburban Colorado. My high school was quite mediocre. No computer science class and no students 
		attending Ivy league schools other than a few football players. But math and science came easy and 
		because I didn’t speak English well and lived in a homogeneously white American suburbia, I spent 
		the majority of my time voraciously reading about all kinds of science in magazines and the internet.  
		This led me to attend MIT, where I first studied biology in hopes of some day earning a Nobel Prize. 
		Two years in and I just didn’t feel like I was getting smarter.  Sure, I was learning how our biology works, 
		but I wasn’t learning how to better problem solve - something I could observe in my math and computer 
		science friends.  So I threw away all my life’s plans - incredibly scary to an OCD individual, and 
		switched to computer science, getting a Masters along the way.  Seven internships in six different countries 
		later, I got my first job as a financial quant in Hong Kong, where I worked for three years.  
		The job was very challenging yet deeply enriching as I got to work with some of the brightest minds I know. 
	</p>
	<p>
		Now about me as a founder.  I never explicitly visualized myself being a founder, but I did 
		love experimenting and tinkering with technology, often led by my own desire to fix problems 
		I observed around the world.  It’s often the case with good students, however, that 
		perfectionism inhibits their ability to complete their ideas and put them out there for fear of 
		judgment - for fear of disappointing others.  When I met Adriana, I was fascinated by the way 
		she got stuff done AND shamelessly promoted her work. Within two weeks of meeting, I told 
		her an idea for a dropshipping product and the next day she had found the manufacturer, 
		created a website, and ran some ads!  It’s been almost four years and we have been building 
		stuff together since then. I still get a funny feeling in the stomach when I put myself out there, 
		but she’s empowered me to overcome that and try to share more of my ideas with the world.
	</p>
	<p>
		So here we are! If you'd like to get in touch with me, feel free to drop me a line at
		nlandmanc@gmail.com. Would be happy to hear from you anytime.
	</p>
</Layout>
