---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>The Landman Lounge</h1>
			<h2>Me in 10 seconds</h2>
			<p>
				<span>I'm a technologist, tinkerer, entrepreneur, and ex-financieur.</span><br/>
				<span>I'm an energetic bundle of ideas slowly being executed.</span><br/>
				<span>Peruvian by culture, American by ideology, global by experience.</span><br/>
			</p>
			<h2>Me in 10 minutes</h2>
			<p>
				 You can find a bit more details <a href="/about">here</a>.
			</p>
			<h2>What am I doing now?</h2>
			<p>
				I'm currently working on <a href="https://www.marketwithstella.com">Stella</a> with
				my wonderful partner <a href="https://linkedin.com/in/adrianalica">Adi</a>. 
				Our previous company, <a href="https://www.marketwithstella.com">Try it on</a>,
				did very well! You can read more about it <a href="https://homebase.so/p/7-figures-ai-tool-that-meets-all-your-portrait-needs-f510">here</a>. 
				I do the coding and she does the marketing.
				While at it, we're traveling the world and work remotely.
			</p>
			<h2>Contact me</h2>
			 <p>
				I love meeting new people and I reply to every email, so 
				<a href="mailto:nlandmanc@gmail.com">say hello</a>!
			</p>
			<br />
			<p style={{"font-size":"14px"}}>Thank you, <a href="https://sive.rs/">Derek Sivers</a>, for the layout inspo!</p>
		</main>
		<Footer />
	</body>
</html>
