---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>Welcome to the Landman Lounge</h1>
			<p>
				<span>I'm a technologist, tinkerer, entrepreneur, and ex-financieur.</span><br/>
				<span>An extroverted and energetic bundle of ideas slowly being worked on.</span><br/>
				<span>Peruvian by culture, American by ideology, global by experience.</span><br/>
				<span>Sources of dopamine can be found in grokking new ideas, novel cultural exposures, 
					collaborative problem solving, and very hard, grueling workouts.</span><br/>
				<span>I seek, and thrive, in high pressure, adrenaline inducing environments as I tend to get bored easily. 
					Looking forward to my NASCAR driving career in the coming years!</span><br/>
			</p>
			<p>Longer bio <a href="/about">here</a>.</p>
			<h4>Projects I'm working on now</h4>
			<p>
				I'm currently working on <a href="https://www.marketwithstella.com">Stella</a> with
				my wonderful partner <a href="https://linkedin.com/in/adrianalica">Adi</a>. 
				Our previous company, <a href="https://www.marketwithstella.com">Try it on</a>,
				did very well! You can read more about it <a href="https://homebase.so/p/7-figures-ai-tool-that-meets-all-your-portrait-needs-f510">here</a>. 
				I do the coding and she does the marketing.
				Traveling the world while at it.
			</p>
			<h4>Ideas I believe in</h4>
			<ul>
				A sign of a logical mind is the ability to entertain ideas that run counter to one's identity.
				<br />
				<br />
				The most important thing to know when getting advise is to ask oneself: "what is the advisor trying to optimize?"
					<ul>
						<li>The rational actor's utility function seldom includes the "fun" factor.</li>
						<li>What do you vs. the advisor value most: money, power, or popularity? </li>
						<li>Hopefully their interests don't conflict with yours.</li>
						<li>Don't take your advise from twitter (or your family, for that matter).</li>
					</ul>
				The developed world is too abundant for most people to not pursue their ideas intensely.
					<ul>
						<li>The only thing stopping people is EQD ("el que diran" or, "what would <i>they</i> say").</li>
					</ul>
				You should seek to change your mind often.
					<ul>
						<li>People that help you do this are extremely valuable.</li>
						<li>As the saying goes- <i>strong opinions loosely held.</i></li>
					</ul>
				</li>
				There are exceptions to all maxims, including this one.
			</ul>
			<h4>What I like to read</h4>
			 <p>I subscribe to way too many substacks, but I read primarily about economics, finance, and only the technology required
			 to build out my ideas.</p>
			  <ul>
			  <li>One of my favorite essays when traveling to new cities, on
					<a href="https://paulgraham.com/cities.html">cities and ambitions</a>.
				</li>
			  <li>A read that motivated me to venture out on my own, on
					<a href="https://www.thecrimson.com/article/2017/5/25/desai-commencement-ed/">optionality</a>.
				</li>
			  <li>I should probably read more Nozick. This blew my mind as a 25 year old pup, on
					<a href="https://conversableeconomist.blogspot.com/2019/08/robert-nozick-utility-monsters-and.html">the frailty of utility as a global maximizer</a>.
				</li>
			  <li>Forever appreciative to Tyler Cowen and Alex Tabarrok for feeding my endless curiosity, via 
					<a href="https://marginalrevolution.com">Marginal Revolution</a>.
				</li>
			</ul>	
			<h5>Contact me</h5>
			 <p>
				I love meeting new people and I reply to every email, so 
				<a href="mailto:nlandmanc@gmail.com">say hello</a>!
			</p>
		</main>
		<Footer />
	</body>
</html>
