---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>Welcome to the Landman Lounge</h1>
			<p>
				<span>I'm a technologist, tinkerer, entrepreneur, and ex-financieur.</span><br/>
				<span>An extroverted and energetic bundle of ideas slowly being worked on.</span><br/>
				<span>Peruvian by culture, American by ideology, global by experience.</span><br/>
				<span>Sources of dopamine can be found in grokking new ideas, novel cultural exposures, 
					collaborative problem solving, and very hard, grueling workouts.</span><br/>
				<span>I seek, and thrive, in high pressure, adrenaline inducing environments as I tend to get bored easily. 
					Looking forward to my NASCAR driving career in the coming years!</span><br/>
			</p>
			<p>Longer bio <a href="/about">here</a>.</p>
			<h4>Projects I'm working on now</h4>
			<p>
				I'm currently working on <a href="https://www.marketwithstella.com">Stella</a> with
				my wonderful partner <a href="https://linkedin.com/in/adrianalica">Adi</a>. 
				Our previous company, <a href="https://www.marketwithstella.com">Try it on</a>,
				did very well! You can read more about it <a href="https://homebase.so/p/7-figures-ai-tool-that-meets-all-your-portrait-needs-f510">here</a>. 
				I do the coding and she does the marketing, traveling the world while at it.
			</p>
			<!-- IDEAS -->
			<h4>Ideas I believe in</h4>
			<ul>
				The greatest freedom lies in having the <b>ability</b> and <b>flexibility</b> to <b>choose</b> the problems that occupy your mind.
				<ul>
				</ul>
			</ul>
			<ul>
				A sign of a logical individual is the ability to entertain ideas that run counter to one's identity.
			</ul>
			<ul>
				The most important factor when getting advise is to ask oneself: "what is the advisor trying to optimize?"
					<ul>
						<li>What do you vs. the advisor value most: money, power, popularity, or something else? 
								Hopefully their interests don't conflict with yours.</li>
						<li>The rational actor's utility function seldom includes the "fun" factor, and it's much easier to be rational 
							when giving advise than when acting on it.</li>
						<li>[Almost never] take your advise from twitter - or your family, for that matter. Their idea of what's best for you 
							is often only tangential to what you truly want.
						</li>
					</ul>
			</ul>
			<ul>
				The developed world is too abundant for most people to not pursue their ideas intensely.
					<ul>
						<li>The only thing stopping people is EQD ("el que diran" or, "what would <i>they</i> say").</li>
					</ul>
					<ul>
						<li>The corollary is that the level of intensity is dependent on the idea.</li>
					</ul>
			</ul>
			<ul>
				You should seek to change your mind often.
					<ul>
						<li>People that <b>help you</b> do this are extremely valuable.</li>
						<li>One should hold <i>strong opinions, loosely held.</i></li>
					</ul>
				</li>
			</ul>
			<ul>
				Our brain is incredibly malleable.
					<ul>
						<li>One of life's biggest unlocks is being able to enjoy the sufferring on the way to accomplishing your objectives.</li>
						<li>On this note, the only justification to quitting is realizing you don't actually want the prize as bad as you thought you did.</li>
					</ul>
				</li>
			</ul>
			<ul>
				There are exceptions to all maxims, including this one.
			</ul>
			<!-- CHANGE UR MIND -->
			<h4>What I like to read</h4>
			 <p>I subscribe to way too many substacks, but I read primarily about economics, finance, and the technology required
			 to build out my ideas or satisfy my curiosity.</p>
			  <ul>
			  <li>One of my favorite essays when traveling to new cities, on
					<a href="https://paulgraham.com/cities.html">cities and ambitions</a>.
				</li>
			  <li>A read that motivated me to venture out on my own, on
					<a href="https://www.thecrimson.com/article/2017/5/25/desai-commencement-ed/">optionality</a>.
				</li>
			  <li>This blew my mind as a 25 year old pup, on
					<a href="https://conversableeconomist.blogspot.com/2019/08/robert-nozick-utility-monsters-and.html">the frailty of utility as a global maximizer</a>.
				</li>
			  <li>Forever appreciative to Tyler Cowen and Alex Tabarrok for feeding my endless curiosity, via 
					<a href="https://marginalrevolution.com">Marginal Revolution</a>.
				</li>
			  <li>"The ability to channel motivation into constructive effort that is key to success", via 
					<a href="https://traderfeed.blogspot.com/2020/09/what-predicts-success-among-developing.html">TraderFeed - What Predicts Success Among Developing Traders?</a>.
				</li>
				</li>
			  <li>On the genious of John Von Neumann and truly enjoying to think, via
					<a href="https://www.youtube.com/watch?v=Oh31I1F2vds">David Hoffman</a>.
				</li>
			  <li>How to understand things, via
					<a href="https://nabeelqu.co/understanding">Nabeel S. Qureshi</a>.
				</li>
			  <li>And many, many others...
				</li>
			</ul>	
			<h5>Contact me</h5>
			 <p>
				I love meeting new people and I reply to every email, so 
				<a href="mailto:nlandmanc@gmail.com">say hello</a>!
			</p>
		</main>
		<Footer />
	</body>
</html>
