---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>Welcome to the Landman Lounge!</h1>
			<h2>Me in 10 seconds</h2>
				<p>I'm a technologist, tinkerer, entrepreneur, and retired (lol) financieur.</p>
				<p>I'm an energetic bundle of ideas waiting to be explored.</p>
				<p>Peruvian by culture, American by ideology.</p>
			<h2>Me in 10 minutes</h2>
			<p>
				 You can find a bit more details in <a href="/about">my "about" page</a>.
			</p>
			<h2>What am I doing now?</h2>
			<p>
				I'm currently running <a href="https://www.trytionai.com">Try it on</a> with
				my wonderful partner <a href="https://linkedin.com/in/adrianalica">Adi</a> - 
				our "AI Photography Studio". I do the coding and she does the marketing.
				While at it, we're traveling the world and working remotely.
			</p>
		</main>
		<Footer />
	</body>
</html>
